Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/CodeChunks.db
Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/SemanticSymbols.db
Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
Source/.vs/RH_TET_Magic/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
Source/.vs/RH_TET_Magic/FileContentIndex/40f91aa9-ef1e-4778-874e-6cc7f02a7636.vsidx
Source/.vs/RH_TET_Magic/v17/.suo
Source/.vs/RH_TET_Magic/FileContentIndex/71797ac9-bebc-47ff-bb5c-eebc5e914cd2.vsidx
Source/.vs/RH_TET_Magic/v17/DocumentLayout.json
Source/.vs/RH_TET_Magic/v17/DocumentLayout.backup.json
Source/.vs/RH_TET_Magic/v17/DocumentLayout.json
Source/.vs/RH_TET_Magic/v17/DocumentLayout.json
/Source/.vs
/Source/.vs
/Source/.vs
/Source/RH_TET_Magic/obj
/Source/RH_TET_Magic/obj
/Source/RH_TET_Magic/obj
/Source/.vs
/Source/.vs
/Source/RH_TET_Magic/obj
/Source/RH_TET_Magic/obj/Debug
